
#isoform {
    background: white;
    border: 2px solid rgb(66,139,202);
    border-radius: 8px;
    
}

#seq_box {
    background: white;
    border: 2px solid rgba(34, 139, 34, 0.7);
    border-radius: 8px;
}
        
#title {
    background: white;
    border: 2px solid rgb(66,139,202);
    border-radius: 8px;
}
#expande_box {
    background: white;
    border: 2px solid rgb(66,139,202);
    border-radius: 8px;
}
#legend {
    background: white;
    border: 2px solid rgb(66,139,202);
    border-radius: 8px;
}
        
.link {
    fill: none;
    stroke: #C0C0C0;
    stroke-width : 2px;
    shape-rendering: geometricPrecision;
}
            

  
